
@media only screen and (min-width: 601px) and (max-width: 900px) {
    /* Styles pour les écrans de taille moyenne (tablettes) */
    body {
        height: 100vh;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: rgb(74, 114, 40);
        color: white;
        background-image: url(fond.jpeg);
        background-size: cover; /* Ajuste la taille de l'image pour couvrir l'ensemble de l'élément */
        background-position: center; /* Centre l'image */
        /*background-repeat: no-repeat; /* Empêche la répétition de l'image */
    }
}

@media only screen and (min-width: 901px) {
    /* Styles pour les écrans plus larges (ordinateurs de bureau, ordinateurs portables) */
body {
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(74, 114, 40);
    color: white;
    background-image: url(fond.jpeg);
    background-size: cover; /* Ajuste la taille de l'image pour couvrir l'ensemble de l'élément */
    background-position: center; /* Centre l'image */
    /*background-repeat: no-repeat; /* Empêche la répétition de l'image */
}
.banderolePub{
    height: 5%;
    background-color: rgba(74, 114, 40, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.carrousselImageAccueil{
    width: 75vh;
    height: 50vh;
    border: solid 1px black;
    margin: 0 auto;
}
nav {
    display: flex;
    background-color: rgba(54, 85, 28, 0.693);
    padding: 10px;
}

nav a {
    color: white;
    border-right: 1px solid black;
    text-decoration: none;
    flex: 1; 
    text-align: center;
    padding: 10px; 
}

h1, .introduction, .horairesOuverture ::before{
    text-align: center;
    margin: 20px 0; 
    content: " Bienvenu au Zoo Arcadia ! ";
}

footer {
    background-color: #333;
    color: white;
    padding: 1%;
    text-align: center;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 1%;
    margin: 0;

}
.footer-links {
    display: flex;
    padding: initial;
    justify-content: space-evenly;
}
.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    
}
.horairesOuverture {
    bottom: 4%;
    left: 0;
    right: 0;
    position: absolute;
}

.service {
    display: flex;
    justify-content: center;
    height: 70%;
}
.serviceSize {
    margin : 2%;
    width: 30%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.38);
    line-height: 1.5;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.serviceSize img {
    width: -webkit-fill-available;
    height: 40%;
    margin: inherit;
    
}

.habitatSpe{
    display: flex;
    margin: 1%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.habitatsGeneral{
    width: auto;
    height: 35%;
    margin: 0.5%;
    display: flex;
    justify-content: space-evenly;

}
.habitatSpe img {
    height: -webkit-fill-available;
}
.menu-btn {
    display: none;
}
/* FORMULAIRE CONTACT */
form {
    max-width: 40%;
    margin: auto;
    height: 70%;
    background-color: #586c3f99;
    border: solid white 2px;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    
  }

  button:hover {
    background-color: #45a049;
  }
  .label1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
  }
  #description {
    height: 40%;
  }
  .label2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 1%;
  }
}