@media only screen and (min-width: 901px) {
    /* Styles pour les écrans plus larges (ordinateurs de bureau, ordinateurs portables) */


.banderolePub{
    height: 5%;
    background-color: rgba(74, 114, 40, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    display: flex;
    background-color: rgba(54, 85, 28, 0.693);
    padding: 10px;
}

nav a {
    color: white;
    border-right: 1px solid black;
    text-decoration: none;
    flex: 1; 
    text-align: center;
    padding: 10px; 
}

h1, .introduction, .horairesOuverture ::before{
    text-align: center;
    margin: 20px 0; 
    content: " Bienvenu au Zoo Arcadia ! ";
}

footer {
    background-color: #333;
    color: white;
    padding: 1%;
    text-align: center;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 2%;
 

}
.footer-links {
    display: flex;
    padding: initial;
    justify-content: space-evenly;
}
.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    
}
.horairesOuverture {
    text-align: center;
}

.service {
    display: flex;
    justify-content: center;
    height: 70%;
}
.serviceSize {
    margin : 2%;
    width: 30%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.38);
    line-height: 1.5;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.serviceSize img {
    width: -webkit-fill-available;
    height: 40%;
    margin: inherit;
    
}
}