@media only screen and (max-width: 600px) {
    /* Styles pour les écrans de petite taille (mobiles) */
    body {
        height: 100vh;
        font-family: Arial, sans-serif;
        margin: 0;


        background-color: rgb(74, 114, 40);
        color: white;
        background-image: url(fond.jpeg);
        background-size: cover; /* Ajuste la taille de l'image pour couvrir l'ensemble de l'élément */
        background-position: center; /* Centre l'image */
        /*background-repeat: no-repeat; /* Empêche la répétition de l'image */        
    }
    .element-a-cacher {
        display: none;
    }
    .introduction{
        text-align: center;
    }
    .nav-container {
        text-align: center;
    }
          
    .menu-btn {
        display: block;
        background-color: #07522F;
        border: none;
        border-radius: 5px;
        width: 17%;
      


    }
          
    .nav-menu {
        display: none;
    }
          
    .nav-menu.active {
        display: block;
        position: absolute;
        top: 10%;
        left: 0;
        background-color: burlywood;
    }
          
    .nav-menu a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }
    h1::before{
        content: "Zoo Arcadia";
    }
    .menuTitreMobile{
        display: flex;
        background-color: #07522F;

    }
    h1 {
        margin-left: 13%;
    }
    .carrousselImageAccueil{
        width: 80%;
        height: 35%;
        border: solid 1px black;
        margin: 2vh auto;
    }
    footer{
        text-align: center;
    }
          
}